<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="login-form">
        <form action="/login" method="POST" class="form-box">
            <h2>Login&#127757</h2>
            <div class="input-group">
                <input type="text" name="username" required placeholder="Username">
            </div>
            <div class="input-group">
                <input type="password" name="password" required placeholder="Password">
            </div>
            <button type="submit" class="btn">Login</button>
            <p class="text-center">Don't have an account? <a href="/register">Register</a></p>
        </form>
    </div>
    <script src="/animation.js"></script>
</body>
</html>